.dashboard button.dashboard{
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;

    align-items: center;
    width: 120px;
    font-size: medium;
    padding: 0.5%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.dashbord button.dashboard:hover{
    box-shadow: #006400;
    transform: translateY(-1px);
    background: #006400;
}

.dashboard button.dashboard-myPost, button.dashboard-inbox{
    background: #95db9e;
    transform: translateY(-1px);

    border: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
    border-radius: 5px;

    align-items: center;
    width: 120px;
    font-size: medium;
    padding: 0.5%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}


.purchaseInfo button{
    border-color: black;
    cursor: pointer;

    align-items: center;
    width:100px;
    font-size: medium;
    padding: 0.5%;
    margin: 10px;
    text-align: center;
    background: red;
    color:white;

}

.purchaseInfo button:hover{
    transform: translateY(-1px);
    background-color: #ff6347;
}

.header{
    font-size: 20px; 
    font-weight: bolder;
    text-decoration:underline;
    text-decoration-thickness: 5px;
}


hr.dashboard{
    padding-bottom: 10px;
    background-color: black;
    margin-bottom: 20px;
}

