.dashboard button.dashboard{
    position: relative;
    background-color: lightgrey;
    border: none;
    font-size: 15px;
    font-weight:500;
    color: black;
    padding: 5px;
    width: 120px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;

    box-shadow: 0 2.5px #999;

    margin-bottom: 20px;
}

.dashboard button.dashboard:hover{
    background-color: rgb(109, 124, 111);
    transform: translateY(-1px);
}

.dashboard button.dashboard:active{
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}


.dashboard button.dashboard-myPost, button.dashboard-inbox{
    background: #95db9e;
    box-shadow: 0 5px #666;
    transform: translateY(1px);

    position: relative;
    border: none;
    font-size: 15px;
    font-weight:500;
    color: black;
    padding: 5px;
    width: 120px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
}

.purchaseInfo button.delete-bttn{
    margin-top: 10px;
    background: red;
    color: white;
    font-weight: bold;
    width: 100px;
}

.purchaseInfo button.delete-bttn:hover{
    transform: translateY(-1px);
    background-color: #fa7b64;
}

.purchaseInfo button.delete-bttn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.header{
    font-size: 20px; 
    font-weight: bolder;
    text-decoration:underline;
    text-decoration-thickness: 5px;
}


hr.dashboard{
    padding-bottom: 10px;
    background-color: black;
    margin-bottom: 20px;
}

