@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.upload-form-container {
    display: flex;
    justify-content: center;
    background-color: #d1d1d1;
    margin-top: 5vh;
    height: 80vh;
    align-items: center;
    text-align: initial;
    box-sizing: border-box;
    z-index: 0;
    font-family: 'Inter', sans-serif;


}

.line-upload {
    background-color: black;
}
.upload-forms{

    z-index: 0;
    contain: content;
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    width: 40vw;
    height: auto;
    padding: 20px;
    background-color: whitesmoke;
    /* height: 70%; */
    justify-content: center;
    flex-direction: column;

    align-items: stretch;
    overflow-y:auto;
    border: solid;
    border-width: 3px 0px 3px 0px;
    border-color: black;
}

/* .upload-header h1 {
    color: white;

} */

.upload-submit-button {
    width: 30%;
    height: 30px;
    background-color: white;

    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: black;
    float: right;
}

.upload-submit-button:hover {
    width: 30%;
    height: 30px;
    background-color: green;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: black;
}



.input-text-field {
    text-align: justify;
}

input.forms, textarea.forms{
    font-weight: 100;
    width: 65%;
    height: 30px;
    font-size: 20px;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

label.forms {
    font-family: 'Inter', sans-serif;
}

select.forms{
    width: 65%;
    height: 30px;
    padding: 1px;
    font-size: 20px;
}
