@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.home-recent {
    font-family: 'Noto Sans', sans-serif;
}

.card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    width: 300px;
    height: 220px;
    border-radius: 12px;
    margin: 20px;
    display:flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;

}

.card:hover{
    background-color: #bfbfbf;
    width: 300px;
    height: 220px;
    border-radius: 12px;
    margin: 20px;
    display:flex;
    flex-direction: column;

}

.thumbnail-home{
    height: 180px;
    border-radius: 15px 15px 15px 15px;
    background-color: lightblue;
    position: relative;
}

.hovercap {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0; left: 0;
   
    /* (C3) COLORS */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  /* (D) SHOW/HIDE */
  .hovercap {
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
  }
  .thumbnail-home:hover .hovercap {
    visibility: visible; opacity: 1;
  }

.thumbnail-home img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 12px 12px 12px 12px;
}




.title-home{
    display: flex;
    justify-content: flex-start;
    height: 70px;

    

}


