pre{
    text-align: left;
}

.inbox-container {
    display: inline-block;
    flex-direction: column;
    width: 70vw;

}

.inbox{
    width: 70%;
    display: flex;
    align-items: center;
}

.innerinbox{
    flex: 1;
    margin: 10px;
}