table {
  border-collapse: collapse;
  width: 73%;
  margin: auto;
}
  
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

table button{
  background: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  
  position: relative;
  border: none;
  font-size: 13px;
    
  padding: 5px;
  width: 75px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-left: 10px;

  box-shadow: 0 2.5px #999;


}

table button:hover{
  background: #fa7b64;
  transform: translateY(-1px);
}

table button:active{
  box-shadow: 0 5px #666;
    transform: translateY(2px);
}

  
