.darkBG {
    background-color: rgba(0, 0, 0, 1);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transform: translate(-50%, -50%);
  }
  
  .form-container-lr {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #daf5e7;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 35%;
    z-index: 10;
    border:solid;
    border-width: 10px;
    border-color: #141414;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);

    
  }

  
  .modal-form {

    
    display: flex;
    width: 40vw;
    height: 600px;
    border-radius: 16px;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    scrollbar-color: #2eb06b #ffffff;
    scrollbar-width: thin;

  }

  .cancel-button-lr {
    background-color: #d1cfcf;
    width: 90px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
    border-color: #000000;
  }
  

  #reg-or-log {
    font-size: medium;
    color: #1271c9;
    text-decoration:underline;
  }

  #reg-or-log:hover {
    font-size: medium;
    color: red;
    text-decoration: underline;
  }



  .msgContainer{
    border: 6px double #000000;
    
  }

  

